click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
Gunicorn
bcrypt
cycler
Flask
Flask-WTF
idna==3.4
itsdangerous
Jinja2
kiwisolver
MarkupSafe
mysql-connector
numpy
packaging
passlib
Pillow
python-dateutil
requests
six
urllib3
Werkzeug
WTForms
matplotlib
